
.container .navbar-course p{
    padding: 5px;
    font-weight: bold;
    color: black;
}

.container .navbar-all p{
  color: black;
  margin-right: 40px;
}
.navbar :checked{
  color: blue;
  border-bottom: 1px solid green;
}
a{
  text-decoration: none;
  color: gray;
}
.footerhead{
  font-weight: bold;
}

footer{
  margin-top: 5%;
  padding-bottom: 2%;
  padding-left: 15%;
  padding-top: 5%;
  background-color: rgb(247, 242, 242);

}